<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ product.Images}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <!-- <a routerLink="product/{{product.id}}">{{ product.productName}}</a> -->
         </h4>
          <h5>₹{{product.AvailableSizes}} {{product.MRP}}</h5>
          <p class="card-text">{{ product.ProductTitle}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ product.StyleNumber}} Stars</small>
        </div>
      </div>
    </div>
  </div> 
  <!-- /.row -->
<!-- 
<div class="card" style="width: 18rem;" *ngFor="let product of productList">
    <img class="card-img-top" src="{{ product.Images}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  